
body {
    background-color: #111111;
    margin: 0px;
    position: relative;
}



#header {
    display: block;
    background-color: #9691f4;
    width: 100%;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 00px;
    z-index: 2;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


h1 {
    margin: 0px;
    font-family: "BBH Bogle", sans-serif;
    font-size: 500%;
    padding: 3px;
}

#main {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
    margin-top: 2em;
    width: 100%
}

#item {
    display: inline;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(203, 206, 250);
    width: 90%;
    height: 50em;
    border-radius: 2%;

}

#imagecontainer {
    width: 100%;
    height: 50%;
    /*background-color: rgb(0, 89, 255);*/
    /*background-color: rgba(0, 0, 0, 0.534);*/
    background-image: linear-gradient(to right, rgb(203, 206, 250), white,  rgb(203, 206, 250));
    display: block;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;

}

#price{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 1%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

#title {

    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    word-wrap: normal;
}

#description {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    word-wrap: normal;
    text-align: justify;
    text-justify: auto;
    max-height: 100%;
    overflow: auto;
    height: 20%;
    /*box-shadow: inset 0px -5px rgba(164, 168, 219, 0.534);*/
    border-radius: 2%;

}

#itemimage {
    display: block;
    margin: auto;
    height: 100%;
    max-width: 100%;
}

#navbar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    margin-top: 7em;
    color: white;
    margin-left: 2%;
}

.navitem {
    border: 2px solid rgb(164, 168, 219);    
    margin: 5px;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border-radius: 9px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.navitem:hover {
    background-color: rgb(164, 168, 219);
    color: black;
}


#search {
    margin-top: 13em;
    margin-left: 2%;
    width: 33em;
    max-width: 90%;
    height: 50px;
}

.whatsapp {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0%;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    height: 7%;
    background-color: rgb(164, 169, 236);
    border-radius: 8px;
}
.whatsapp:hover {
    background-color: rgb(164, 168, 180);
}

a {
    text-decoration: none;
}


@media screen and (orientation: landscape) {
    
   /* #main {
        flex-direction: column;
    }*/

    #item {
        width: 20em;
        margin-top: 0px;
        margin-bottom: 30px;
        margin-left: 2%;
        margin-right: 2%;
        height: 30em;
        border-radius: 2%;
    }
}